asgiref==3.6.0
beautifulsoup4==4.12.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==3.2
django-auto-logout==0.5.1
django-bootstrap-v5==1.0.11
django-bootstrap4==24.1
django-colorfield==0.10.1
django-cors-headers==4.3.1
django-cors-middleware==1.5.0
django-jazzmin==2.6.0
django-multiselectfield==0.1.12
django-payments==2.0.0
django-payments-razorpay==1.0
django-phonenumber-field==7.3.0
django-utils-six==2.0
idna==3.6
mysql-connector-python==8.0.32
mysqlclient==2.1.1
phonenumberslite==8.13.30
Pillow==10.0.0
psycopg2==2.9.8
python-decouple==3.8
python-json-logger==2.0.7
pytz==2023.3
razorpay==1.4.1
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.3
tzdata==2022.7
urllib3==2.2.1
whitenoise==6.5.0
