{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Saved Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    {% for a in add %}
    <div class="col-sm-6">
    <a style="color:black; text-decoration:none;" href="{% url 'checkout' %}">    
     <div class="card">
      <div class="card-body">
       <h3 style="color:red;">Address {{forloop.counter}}</h3>
       <p>Name: {{a.name}} </p>
       <p>Address : {{a.locality}}, {{a.city}}, {{a.state}}, {{a.zipcode}} </p>
       {% comment %} <p>Address 2: {{a.state}}</p>
       <p>State: {{a.zipcode}}</p> {% endcomment %}
      </div>
     </div></a>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}